$espacamento_padrao: 1px;
$fonte_tamanho: 16px;

$fonte__primaria: Helvetica, sans-serif;
$fonte__secundaria: Georgia, sans-serif;

$cor_primaria: #e2c43b;
$cor_secundaria: #f3f3ea;
$cor_terciaria: #161609;


